* {
    margin: 20px;;
    padding: 20px;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left,rgb(10, 221, 10), rgb(95, 95, 221));
    
    
    
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    text-align: center;
    background-color: #7de75d;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-item:hover {
    transform: scale(1.05);
}

.image-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.caption {
    font-size: 16px;
    color: #555;
    padding: 10px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
}
button {
    width: 200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #25e20c;
    height: 100%;
    width: 0%;
    border-radius: 15px;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

a{
    color: white;
}
